.float-right{
    float: right;
}

.danger{
    color: red;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#eee;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .nav_bar {
    margin-left: 160px; /* Same as the width of the sidenav */
    background-color: blueviolet;
    height: 40px;
    position: sticky;
    top: 0;
}

  .main {
    margin-top:40px;
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  .m-r-10{
    margin-right: 10px;
  }
  