.nav_list {
    list-style-type: none;
}

.nav_item a {
    float: left;
    margin: 0px;
    padding: 10px;
    color: white;
}

.nav_item a:hover {
    color: #eee;
}

.nav_item a:active {
    font-size: 25px;
}

